.simulation {
  padding: 10px;
  text-align: center;
}

.simulation canvas {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.simulation .stats {
  display: flex;
  justify-content: center;
}

.simulation .stats p {
  width: 20%;
}
