.container {
  text-align: center;
}

.simulation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.simulation canvas {
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.controls input {
  margin-bottom: 1.5em;
}

.controls button {
  margin-bottom: 0.5em;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
